html, body {
    background-color: #151515;
    margin-left: 20px;
    margin-right: 20px;
    scroll-behavior: smooth;
    line-height: 1.15;
}

* {
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    font-size: 48px;
}

/*NAVBAR*/
nav {
  margin-left: -9px;
  width: 80%;
  padding: 5px 0;
}
nav ul {
  list-style: none;
  text-align: left;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
nav.fill ul li a {
  position: relative;
}
nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}




/*HOME*/
.home {
    margin-top: 20px;
    align-items: baseline;
    color: white;
}

.home .information {
    display: block;
    width: 70%;
}

.home h3 {
    color: #ffffffd7;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    font-weight: 500;
    margin-top: -41px;
}

.home p {
    margin-top: -10px;
    font-family: 'Indie Flower', cursive;
    color: #999999;
    font-size: 22px;
}

.home .profile {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 7px;
    float: right;
    border: 2px solid #FFE367;
    width: 240px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #ffe3671a 0px 7px 29px 0px;
}

/*What I Do*/
.whatıdo {
    margin-top: 50px;
}

.whatıdo  h1 {
    text-align: center;
}

.whatıdo h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: #eeeeee;
    margin-top: -25px;
}

.whatıdo p {
    color: #999999;
    font-family: 'Indie Flower', cursive;
}

.whatıdo .box {
    display: flex;
    font-size: 20px;
    background-color: transparent;
    padding: 50px;
    align-items: center;
    flex-direction: column;
    box-shadow: #ffe3671a 0px 7px 29px 0px;
    border: 1px solid #FFE367;
}

/*About Me*/
.aboutme {
    margin-top: 50px;
}

.aboutme h1 {  
    color: #FFFFFF;
    text-align: center;
    font-size: 46px;
    font-family: 'Caveat', cursive;
}

.aboutme p {
    color: #C1C1C1;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

/*Contact Me*/
.contact-me {
    margin-top: 50px;
    color: white;
}
.contact-me .center {
    text-align: center;
}
.contact-me .h2 {
  color: #C1C1C1;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 22px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

/*BOX*/
.contact-me .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box .in {
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    background-color: #232428;
}
.box .about {
    background-color: #111214;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
/*PROFİLE*/
.profile {
    display: flex;
}
.profile .avatar {
    margin-top: -105px;
}
.profile #avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 5px #232428 solid;
}
.profile #discord_status {
    position: absolute;
    margin-left: 68px;
    margin-top: 70px;
    font-size: 20px;
    border: 5px solid #232428;
    border-radius: 50%;
}
.banner {
    width: 100%;
    height: 200px;
}

.info #globalName {
  margin-top: 0px;
  font-weight: 500;
  color: #FFFFFF;
  font-family: 'Caveat', cursive;
  font-size: 24px;
}
.info #username {
  color: #ffffffd7;
  font-size: 18px;
  font-family: 'Caveat', cursive;
  font-weight: 100;
  margin-top: -18px;
}   
.info #activities {
  font-family: 'Caveat', cursive;
  font-weight: 100;
  font-size: 12px;
}

/*İCONS*/
.icons {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}
.icons div{
    display: flex;
    width: 28px;
    height: 28px;
    margin-right: 115px;
}
.icons img {
    background-color: #111214;
    padding: 5px;
}

/*SPOTİFY*/
.spotify {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.spotify .info {
    display: flex;
    flex-direction: column;
    margin-top: -18px;
    margin-left: 5px;
    font-family: 'Short Stack', cursive;
}

.spotify .info #song {
    font-weight: 400;
    font-size: 16px;
}
.spotify .info #artist {
    font-weight: 100;
    font-size: 14px;
    margin-top: -12px;
}
.spotify .info #album {
    margin-top: -12px;
    font-size: 12px;
    font-weight: 100;
}

#progressbar {
    position: absolute;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
    margin-left: 72px;
    margin-bottom: 4px;
}
#progressbar h4 {
    font-size: 12px;
    font-weight: 100;
}
#start,
#end {
    flex: 0 0 50px;
    margin: 0;
}
  
#progress {
    height: 4px;
    border: none;
    flex-grow: 1;
    margin: 0px 5px 0px -23px;
    width: 100%;
}
  
#progress::-webkit-progress-value {
    background-color: #1DB954;
}
  
#progress::-webkit-progress-bar {
    background-color: #4D4D4D;
}
  
#progress::-moz-progress-bar {
    background-color: #1DB954;
}

.spotify #art_url {
    width: 67px;
    height: 67px;
}
.spotify a {
    transition: 0.2s ease-out;
    text-decoration: none;
}
.spotify #url:hover {
    transform: rotate(5deg);
    width: 68px;
    height: 68px;
}


.social {
    display: grid;
    font-size: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    font-family: 'Short Stack', cursive;
    margin-top: 10px;
    text-align: left;
}
.social span {
    border: 1px solid #80808085;
    padding: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 10px;
    font-weight: 100;
    color: rgb(233, 233, 233);
    text-decoration: none;
}
.social .fa-discord {
    font-size: 16px;
}
.social span a {
    font-size: 10px;
    font-weight: 100;
    vertical-align: super;
    float: right;
    padding-left: 10px;
}

/* Projects */
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    color: white;
    justify-content: center;
    height: 0%;
    margin-top: 30px;
}


#projects .fa-github {
    font-size: 16px;
    text-align: left;
    justify-content: flex-start;
    margin-left: -5px;
    color: white;
    background-color: #15151681;
    border-radius: 10px;
    padding: 10px;
}

#proje {
    padding: 20px;
    border-radius: 10px;
    background-color: #232323;
    justify-content: center;
}

.title {
    grid-column: 1 / span 3;
    background-color: transparent;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: -15px;
}

#projects h3 {
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    font-family: 'Caveat', cursive;
}

#projects button {
    cursor: pointer;
    background-color: #FFE367;
    border: 1px solid #FFE367;
    padding: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease;
}

#projects button:hover {
    opacity: 70%;
    margin-top: -1px;
}


/*FOOTER*/
hr {
    width: 100%;
    margin-top: 10px;
}
footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    margin-top: 10px;
}
footer .footer-about {
    display: flex;
    align-items: center;
    gap: 10px;
}
footer .copyright {
    text-align: right;
    margin-left: auto;
}
footer .fa-brands {
    background-color: #2323236b;
    color: white;
    padding: 10px;
    border-radius: 30px;
    transition: ease-in 0.3s;
}
footer .fa-brands:hover {
    background-color: #131313;
    opacity: 60%;
}

a {
    text-decoration: none
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@500;600;700&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Caveat&family=Fuzzy+Bubbles:wght@400;700&family=Inconsolata:wght@400;500&family=Indie+Flower&family=Roboto+Mono:wght@200;300;400&family=Roboto:wght@300;400&family=Vollkorn:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat|Roboto|Lato|Open+Sans|Raleway|Pacifico&display=swap');


/*Responsive*/
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    /*Navbar 3 çizgi olcak*/
    nav {
        display: none;
        overflow: hidden;
    }
    .home .profile {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #proje {
        grid-column: 1 / span 3;
    }
    .home .information {
        display: inline;
    }
    /*Profil fotorafı ortada olcak*/
    /*.home .information kısmı ortada durcak*/
    /*Projects kısmı düzeltilecek*/
    /*.container {
        background-color: red;
    }*/
}